CLIENT_URL=http://localhost:5000
MONGODB_URI=mongodb://127.0.0.1:27017/db_socialecho #or MongoDB Atlas connection string
PORT=5000

# JWT
SECRET=6580
REFRESH_SECRET=6580

# Crypto
CRYPTO_KEY=

# Nodemailer
EMAIL=email
PASSWORD=password
EMAIL_SERVICE=Zoho/Gmail/others

# Content Moderation
PERSPECTIVE_API_KEY=923672694150-pcm3ct64abe0033r5ij312hjfv0cddkl.apps.googleusercontent.com
TEXTRAZOR_API_KEY=d3943fbdc53d93ddcfd96c22e592a7a28fe8e1eeb00ab62c31f93fe2
INTERFACE_API_KEY=
PERSPECTIVE_API_DISCOVERY_URL=https://commentanalyzer.googleapis.com/$discovery/rest?version=v1alpha1
TEXTRAZOR_API_URL=https://api.textrazor.com/
INTERFACE_API_URL=https://api-inference.huggingface.co/models/facebook/bart-large-mnli

# For flask using bart-large-mnli
CLASSIFIER_API_URL=http://127.0.0.1:5000/classify

